
@font-face {
    font-family:"PMingLiU-TW";
    src:url("新細明體.woff2") format("woff2"),url("新細明體.woff") format("woff"),url("新細明體.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        